<article class="flex flex-col justify-between pt-12 pb-8 px-8 rounded-md bg-white">
    <div [ngStyle]="{'background-color': job.backgroundColor}"
        class="flex items-center justify-center w-12 h-12 rounded-md -mt-[4.5rem]" #logo>

    </div>
    <div class="flex flex-col gap-2 mt-6">
        <div class="flex gap-3 items-center text-secondary-grey-700">
            <time [attr.datetime]="job.postedAt">{{job.postedAt | dateAgo }}</time>
            <span class="w-1 h-1 rounded-full bg-secondary-grey-700 block"></span>
            <span>{{job.contract}}</span>
        </div>
        <h1 class="font-bold text-xl">{{job.position}}</h1>
        <strong class="font-normal text-secondary-grey-700">{{job.company}}</strong>
    </div>
    <p class="text-sm font-bold text-primary-violet-700 mt-9">{{job.location}}</p>
</article>