<div class="w-11/12 max-w-6xl mx-auto">
    <div role="presentation">
        <app-company-card></app-company-card>
    </div>
    <main class="mt-6">
        <article class="bg-white max-w-3xl mx-auto px-6 py-10 md:py-12 rounded-md">
            <div class="flex flex-col md:flex-row md:items-center md:justify-between">
                <div>
                    <div class="flex gap-3 items-center text-secondary-grey-700">
                        <time datetime="2018-07-07T20:00:00">5h ago</time>
                        <span class="w-1 h-1 rounded-full bg-secondary-grey-700 block"></span>
                        <span>Full Time</span>
                    </div>
                    <h1 class="text-xl font-bold md:text-3xl">Senior Software Engineer</h1>
                    <strong class="text-primary-violet-700">United Kingdom</strong>
                </div>
                <a href="#"
                    class="flex items-center justify-center bg-primary-violet-700 hover:bg-primary-violet-400 rounded-md h-12 font-bold text-white px-7">Apply
                    Now</a>
            </div>
        </article>
    </main>
</div>