@if (job$ | async; as job) {
<div class="w-11/12 max-w-6xl mx-auto">
    <div role="presentation">
        <app-company-card></app-company-card>
    </div>
    <main class="mt-6">
        <article class="bg-white max-w-3xl mx-auto px-6 py-10 md:py-12 rounded-md">
            <div class="flex flex-col md:flex-row md:items-center md:justify-between mb-8">
                <div>
                    <div class="flex gap-3 items-center text-secondary-grey-700">
                        <time [attr.datetime]="job.postedAt">{{job.postedAt | dateAgo}}</time>
                        <span class="w-1 h-1 rounded-full bg-secondary-grey-700 block"></span>
                        <span>{{job.contractType}}</span>
                    </div>
                    <h1 class="text-xl font-bold md:text-3xl">{{job.position}}</h1>
                    <strong class="text-primary-violet-700">{{job.location}}</strong>
                </div>
                <a [href]="job.company.applywebsite"
                    class="flex items-center justify-center bg-primary-violet-700 hover:bg-primary-violet-400 rounded-md h-12 font-bold text-white px-7">Apply
                    Now</a>
            </div>
            <div>
                <h2 class="sr-only">Description</h2>
                <p class="text-secondary-grey-400">{{job.description}}</p>
                <div>
                    <h2 class="">Requirements</h2>
                    <p class="text-secondary-grey-400">{{job.requirements.content}}</p>
                    <ul>
                        @for (item of job.requirements.items; track item.id) {
                        <li>{{ item.description }}</li>
                        } @empty {
                        <li>req</li>
                        }
                    </ul>
                </div>
            </div>
        </article>
    </main>
</div>
}