{{ form.getRawValue() | json }}
<div class="mx-auto w-11/12 max-w-3xl mt-10">
    <form class="flex flex-col gap-2" [formGroup]="form">
        <div>
            <input name="position" placeholder="Position" formControlName="position" />
        </div>
        <div>
            <select name="company" id="company" formControlName="companyId">
                @for (company of companies | async; track company.id) {
                <option [value]="company.id">{{ company.name }}</option>
                }
            </select>
        </div>
        <div>
            <select name="contractType" id="contractType" formControlName="contractType">
                <option value="Full Time">Full Time</option>
                <option value="Part Time">Part Time</option>
                <option value="Remote">Remote</option>
            </select>
        </div>
        <div>
            <input type="text" name="location" placeholder="Location" formControlName="location">
        </div>
        <div>
            <textarea name="description" id="description" placeholder="Describe job"
                formControlName="description"></textarea>
        </div>
        <div>
            <div #requirementsContainer class="flex flex-col gap-2" formArrayName="requirements">
                @for (requirement of requirements.controls; track $index) {
                <div [formGroupName]="$index">
                    <input formControlName="value" type="text" placeholder="{{'Requirement ' + ($index + 1)}}" />
                </div>
                }
            </div>
            <button type="button" (click)="addItem('requirements')">Add requirement</button>
        </div>
        <div>
            <div #rolesContainer class="flex flex-col gap-2" formArrayName="roles">
                @for (role of roles.controls; track $index) {
                <div [formGroupName]="$index">
                    <input formControlName="value" type="text" placeholder="{{'Role ' + ($index + 1)}}" />
                </div>
                }
            </div>
            <button type="button" (click)="addItem('roles')">Add role</button>
        </div>
        <button type="submit" (click)="onSubmit()">Create new job</button>
    </form>
</div>