<div class="mx-auto w-11/12 max-w-3xl mt-10">
    <form class="flex flex-col gap-2" [formGroup]="form">
        <h4>About</h4>
        <mat-form-field>
            <mat-label>Position</mat-label>
            <input matInput required formControlName="position" placeholder="Ex. Software Engineer" value="">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Company</mat-label>
            <select matNativeControl required formControlName="companyId">
                @for (company of companies | async; track company.id) {
                <option [value]="company.id">{{ company.name }}</option>
                }
            </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Contract</mat-label>
            <select matNativeControl required formControlName="contractId">
                @for (contract of contracts | async; track contract.id) {
                    <option [value]="contract.id">{{contract.type}}</option>
                }
            </select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Location</mat-label>
            <input matInput formControlName="location" placeholder="Ex. London" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        <h4>Requirements</h4>
        <div #requirementsContainer class="flex flex-col gap-2" formGroupName="requirements">
            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="content"
                    placeholder="Describe the requirements of the job..."></textarea>
            </mat-form-field>
            <div formArrayName="items" class="flex flex-col gap-2">
                @for (requirement of requirementItems.controls; track $index) {
                <mat-form-field class="example-full-width">
                    <mat-label>Requirement {{ $index + 1 }}</mat-label>
                    <input matInput [formControlName]="$index" [id]="'requirementItem_' + $index"
                        placeholder="Ex. Close collaboration with...">
                </mat-form-field>
                }
            </div>
        </div>
        <button mat-raised-button color="accent" class="w-fit" (click)="addItem('requirements')">Add
            requirement</button>
        <h4>Role</h4>
        <div #rolesContainer class="flex flex-col gap-2" formGroupName="roles">
            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="content" placeholder="Describe the role of the job..."></textarea>
            </mat-form-field>
            <div formArrayName="items" class="flex flex-col gap-2">
                @for (role of roleItems.controls; track $index) {
                <mat-form-field class="example-full-width">
                    <mat-label>Role {{ $index + 1 }}</mat-label>
                    <input matInput [formControlName]="$index" placeholder="Ex. Assist in development...">
                </mat-form-field>
                }
            </div>
        </div>
        <button mat-raised-button color="accent" class="w-fit" (click)="addItem('roles')">Add role</button>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Create new job</button>
    </form>
</div>