<div class="w-11/12 mx-auto max-w-6xl ">
    <div class="-mt-10">
        <app-searchbar></app-searchbar>
    </div>
    <main class="mt-24">
        <section class="grid gap-14 grid-cols-fit-sm">
            @defer {
            @for (job of jobList$ | async; track job.id) {
            <a [routerLink]="['job', job.id]">
                <app-jobcard [job]="job"></app-jobcard>
            </a>
            }
            } @loading {
            <p>Loading...</p>
            }
        </section>
    </main>
</div>