<div class="w-11/12 mx-auto max-w-7xl pb-16">
    <div class="-mt-10">
        <app-searchbar (queryEvent)="onFilterChange($event)"></app-searchbar>
    </div>
    <main class="mt-24">
        <section class="grid gap-14 grid-cols-fit-sm">
            @for (job of jobs$ | async; track job.id) {
            @if (
            job.position.toLowerCase().includes(searchFilter.query) &&
            job.location.toLowerCase().includes(searchFilter.location)) {
            <a [routerLink]="['job', job.id]">
                <app-jobcard [job]="job"></app-jobcard>
            </a>
            }
            }
        </section>
    </main>
    <button type="button"
        class="w-fit block mx-auto mt-16 py-4 px-8 bg-primary-violet-700 hover:bg-primary-violet-400 rounded-md  text-white font-bold">Load
        more</button>
</div>